<div class="page-ranking">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Invite</th>
        </tr>
        </thead>
        <tbody>
        {% for user in invite_users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td><button class="btn btn-success invite-user-btn" data-id="{{ user.id }}">Invite</button></td>
            </tr>
        {% endfor %}
        {% for user in added_users %}
            <tr>
                <td>{{ forloop.counter|add:fu_django_templates }}</td>
                <td>{{ user.username }}</td>
                <td><button class="btn btn-danger remove-user-btn" data-id="{{ user.id }}">Remove</button></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<script>
    $(function() {
        var inviteUserUrl = '{% url 'campaigns.views.invite_user' campaign.id 999999 %}'
        var removeUserUrl = '{% url 'campaigns.views.remove_user' campaign.id 999999 %}'

        $('.invite-user-btn').on('click', function() {
            var $that = $(this)
                    , id = $that.data('id')
                    , url = inviteUserUrl.replace(/999999/, id)

            $.get(url, function(data) {
                if ( data.success ) {
                    $that.attr('disabled', 'disabled')
                    $that.html('Invited')
                }
            })
        })

        $('.remove-user-btn').on('click', function() {
            var $that = $(this)
                    , id = $that.data('id')
                    , url = removeUserUrl.replace(/999999/, id)

            $.get(url, function(data) {
                if ( data.success ) {
                    $that.attr('disabled', 'disabled')
                    $that.html('Removed')
                }
            })
        })
    })
</script>