<div class="js-snippet">
<h1 class="underly">Copy this js snippet in your website</h1>
<div id="campaignId" data-id="{{ campaign.id }}"></div>
<textarea class="form-control" rows="10" cols="80" readonly="readonly">
    &lt;script&gt;
    var attachReadyState = function (el, callback) {
        var done = false

        el.onreadystatechange = el.onload = function () {
        if (!done && (!this.readyState ||
            this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true
                callback()

            el.onload = el.onreadystatechange = null
            document.head.removeChild(el)
            }
        }
    }

    var aJsLib = document.createElement('script')
    aJsLib.src = 'http://localhost:8080/jsLib.js'
    aJsLib.async = true

    a$ = function () {}
    a$.elementsToTrack = []
    a$.init = function(id) {
        a$._id = id
    }
    a$.track = function (e) {
        a$.elementsToTrack.push(e)
    }

    function success() {
        jsLib.init(a$)
        jsLib.trackPastEvents(a$.elementsToTrack)
        a$ = jsLib.a$
    }
    a$.init('{{ campaign.identifier }}')

    document.head.appendChild(aJsLib)
    attachReadyState(aJsLib, success)
    &lt;/script&gt;
</textarea>

<div class="live-users">
    <h3 class="underly">Live users</h3>
    <div id="users-count">0</div>
</div>

<div class="funnels">
    <h3 class="underly">Funnels</h3>
    <ul id="funnel-container">
        {% for funnel in funnels %}
            <li class="funnel-item" data-id="{{ funnel.id }}" data-tags="{{ funnel.events }}">
                <h4>{{ funnel.name }}</h4>
                <input type="text" class="funnel-item-select" maxlength="1024"/>
                <span></span>
                <div class="button-group">
                    <button class="save-btn btn btn-success">Save</button>
                    <button class="query-btn btn btn-warning">Query</button>
                    <button class="remove-btn btn btn-danger">Remove</button>
                </div>
            </li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary add-funnel" data-toggle="modal" data-target="#addFunnel">+Add funnel</button>
</div>

<div class="page-ranking">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Page</th>
            <th>Hits</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a data-page="{{ page.2 }}" class="page-stats">{{ page.0 }}</a></td>
                <td>{{ page.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a class="invite-users" data-id="{{ campaign.id }}">
    Manage users
</a>

<!-- Modals -->
<div class="modal fade" id="addFunnel" tabindex="-1" role="dialog" aria-labelledby="addFunnel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Funnel</h4>
            </div>
            <div class="modal-body">
                <div class="inner-form">
                    <form role="form" class="form-horizontal" action="" method="post"
                          id="funnel-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input id="funnel-name" class="form-control" name="name" type="text"
                                       maxlength="20"
                                       placeholder="Name"/>
                            </div>
                        </div>
                        <div class="bg-danger error" style="display: none;"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-funnel">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="makeQuery" tabindex="-1" role="dialog" aria-labelledby="makeQuery"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Configure Query</h4>
            </div>
            <div class="modal-body">

                <!-- Begin datetimepickers code -->
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control picker1"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control picker2"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End datetimepickers code -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-query" id="make-query" data-funnel-id="">Query</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var statsUrl = '{% url 'campaigns.views.get_stats' campaign.id '999999' %}'
        var saveFunnelUrl = '{% url 'campaigns.views.save_funnel' 0 %}'
        var removeFunnelUrl = '{% url 'campaigns.views.remove_funnel' 0 %}'
        var createFunnelUrl = '{% url 'campaigns.views.create_funnel' campaign.id %}'
        var queryUrl = '{% url 'campaigns.views.query_funnel' 0 %}'
        var inviteUsersUrl = '{% url 'campaigns.views.add_users' 0 %}'
        var liveUsersUrl = '{% url 'campaigns.views.live_users' 0 %}'


        campaignId = $('#campaignId').data('id')  // hack -- campaignId is global variable

        var saveCallback = function () {
            var $that = $(this)
                    , $parent = $that.closest('.funnel-item')
                    , funnelId = $parent.data('id')
                    , value = $parent.children('input').select2('val').join(',')
                    , url = saveFunnelUrl.replace(/0/, funnelId)

            console.log('save')
            $.post(url, {csrfmiddlewaretoken: csrfToken, data: value}, function (data) {
                console.log(data)
            })
        }

        var queryCallback = function () {
            var $that = $(this)
                    , funnelId = $that.closest('.funnel-item').data('id')

            console.log('query')
            console.log(funnelId)

            $('#make-query').data('funnel-id', funnelId)
            $('#makeQuery').modal()
        }

        var removeCallback = function () {
            var $that = $(this)
                    , $parent = $that.closest('.funnel-item')
                    , funnelId = $parent.data('id')
                    , url = removeFunnelUrl.replace(/0/, funnelId)

            console.log('remove')
            $.post(url, {csrfmiddlewaretoken: csrfToken}, function (data) {
                if (data.success) {
                    $parent.remove()
                }
            })
        }

        var addSelect2 = function (item) {
            $(item).select2({
                width: '60%',
                tags: [],
                tokenSeparators: [',', ' '],
                createSearchChoice: function (term) {
                    if (!term.match(/^[a-zA-Z0-9]+$/) || term.length < 3) {
                        return null
                    }
                    return {
                        id: term,
                        text: term
                    }
                }
            })
            $(item).select2('val', $(item).parent().data('tags').split(','))
        }

        $('a.page-stats').on('click', function (e) {
            var $that = $(this)
                    , url = statsUrl.replace(/999999/, $that.data('page'))

            e.preventDefault()

            $('.center-pane').load(url)
        })

        $('.funnel-item-select').each(function (index, item) {
            addSelect2(item)
        })

        $('.save-btn').on('click', saveCallback)
        $('.query-btn').on('click', queryCallback)
        $('.remove-btn').on('click', removeCallback)

        var createFunnel = function (name, id) {
            var $obj = $('<li class="funnel-item" data-id="' + id + '" data-tags="">' +
                    '<h4>' + name + '</h4>' +
                    '<input type="text" class="funnel-item-select" maxlength="1024" />' +
                    '<span></span> ' +
                    '<div class="button-group">' +
                    '<button class="save-btn btn btn-success">Save</button> ' +
                    '<button class="query-btn btn btn-warning">Query</button> ' +
                    '<button class="remove-btn btn btn-danger">Remove</button> ' +
                    '</div>')

            $obj.find('.save-btn').on('click', saveCallback)
            $obj.find('.query-btn').on('click', queryCallback)
            $obj.find('.remove-btn').on('click', removeCallback)
            addSelect2($obj.find('.funnel-item-select'))
            return $obj
        }

        var modalCallback = function () {
            var name = $('#funnel-name').val()
            if (name.length < 3) {
                $('.error').html('Name should be minimum 3 characters long').show()
                return
            }
            $.post(createFunnelUrl, $('#funnel-form').serialize(), function (resp) {
                if (resp.success) {
                    $('#addFunnel').modal('hide')
                    $('#funnel-container').append(createFunnel(name, resp.id))
                } else {
                    console.log(' -- error')
                    $('.error').html(resp.message).show()
                }
            })
        }

        $('.save-funnel').on('click', modalCallback)
        $('#funnel-form').on('submit', function (e) {
            e.preventDefault()
            modalCallback()
        })

        $('#addFunnel').on('hidden.bs.modal', function () {
            $('#funnel-name').val('')
            $('.error').html('').hide()
        })

        $('#datetimepicker1').datetimepicker({
            pickTime: false
        })
        $('#datetimepicker2').datetimepicker({
            pickTime: false
        })

        $('#make-query').on('click', function () {
            var $that = $(this)
                    , funnelId = $that.data('funnel-id')
                    , url = queryUrl.replace(/0/, funnelId)
                    , d1 = $('#datetimepicker1').data('DateTimePicker').getDate()
                    , d2 = $('#datetimepicker2').data('DateTimePicker').getDate()
                    , options = {
                    }

            if ($('.picker1').val() != '') {
                options['d1'] = d1.format('X')
                options['d2'] = parseInt(Date.now() / 1000)
            }
            if ($('.picker2').val() != '') {
                if (!options['d1']) {
                    options['d1'] = 0
                }
                options['d2'] = d2.format('X')
            }

            $.get(url, options, function (data) {
                var statistics, parent, d, labels
                if (data.success) {
                    parent = $('.funnel-item[data-id="' + funnelId + '"]')
                    parent.find('.statistics-div').remove()
                    statistics = $('<div class="statistics-div"></div>')
                    parent.append(statistics)
                    d = []
                    labels = []
                    data.data.forEach(function (v, i) {
                        d.push([i, v])
                        labels.push([i, data.events[i]])
                    })
                    console.log(d)
                    $.plot(statistics, [
                        {
                            label: 'Funnel tracking',
                            data: d,
                            color: 'red'
                        }
                    ],
                    {
                        tooltip: true,
                        tooltipOpts: {
                            content: function (label, x, y) {
                                return data.events[x] + ': ' + y
                            }
                        },
                        grid: {
                            hoverable: true
                        },
                        yaxis: {
                            minTickSize: 1
                        },
                        xaxis: {
                            minTickSize: 1,
                            ticks: labels
                        },
                        series: {
                            bars: {
                                show: true,
                                align: 'center'
                            }
                        }
                    })
                } else {
                    console.log(data.message)
                }
            })
            $('#makeQuery').modal('hide')
        })

        $('.invite-users').on('click', function() {
            var campaignId = $(this).data('id')
                    , url = inviteUsersUrl.replace(/0/, campaignId)

            $('.center-pane').load(url)
        })

        if ( startLongPoll ) {
            startLongPoll = false
            var longPoll = function() {
                var $usersCount, url

                $usersCount = $('#users-count')
                url = liveUsersUrl.replace(0, campaignId)
                url = url + '?last=' + encodeURIComponent($usersCount.html())
                console.log(url)
                if ( $usersCount.length == 0 ) {
                    startLongPoll = true
                    return
                }

                $.get(url, function (resp) {
                    console.log(resp)
                    if ( resp.users ) {
                        $usersCount.html(resp.users)
                        setTimeout(function() {
                            longPoll()
                        }, 100)
                    }
                })

            }
            longPoll()
        }
    })
</script>

</div>