{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    BasicStats Homepage
{% endblock %}

{% block head-extend %}
    <script src="{% static 'jquery.flot.js' %}"></script>
    <script src="{% static 'jquery.flot.time.js' %}"></script>
    <script src="{% static 'jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'select2.min.js' %}"></script>
    <script src="{% static 'moment.min.js' %}"></script>
    <script src="{% static 'bootstrap-datetimepicker.min.js' %}"></script>

    <link href="{% static 'select2.css' %}" rel="stylesheet"/>
    <link href="{% static 'bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default col-md-12 col-sm-12 col-lg-12 navclass" role="navigation">
                    <div>
                        <span class="navbar-text">Logged in as {{ user.username }}</span>
                        <span class="navbar-text"><a href="{% url 'home.views.change_password' %}">Change password</a></span>
                        <span class="navbar-text">
                            <a href="{% url 'home.views.logout' %}">Logout</a>
                        </span>
                    </div>
                </nav>
            </div>
            <div class="row main-div">
                <div class="col-md-3 col-sm-3 col-lg-3 menu-left">
                    <ul id="campaigns" class="nav nav-pills nav-stacked nav-styled">
                        <li class="campaign">
                        <button class="btn btn-primary btn-lg" data-toggle="modal" id="addCampaignButton" style="width: 100%">
                            +Add campaign
                        </button>
                        </li>
                        {% for campaign in campaigns %}
                            <li class="campaign">
                                <a data-id="{{ campaign.id }}">{{ campaign.name }}
                                    &nbsp;<span class="glyphicon glyphicon-remove"></span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 center-pane">
                    <span class="glyphicon glyphicon-chevron-left"></span>Select campaign from the menu on the left or create new
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="addCampaign" tabindex="-1" role="dialog" aria-labelledby="addCampaign"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addCampaign">Add Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <div class="inner-form">
                            <form role="form" class="form-horizontal" action="" method="post"
                                  id="campaign-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 col-md-2 col-lg-2 control-label">Name</label>

                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <input id="name" class="form-control" name="name" type="text"
                                               maxlength="20"
                                               placeholder="Name"/>
                                    </div>
                                </div>
                                <div class="bg-danger error" style="display: none;"></div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-campaign">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog" aria-labelledby="confirm-remove"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="modal-title" id="addCampaign">Are you sure to remove this campaign?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="remove">Remove</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        csrfToken = $('input[name="csrfmiddlewaretoken"]').val() // hack - this is global variable and it is seen in all templates
        startLongPoll = true // hack - startLongPoll is global variable which tells if you need to start longPolling
        // which are loaded by this one
        $(function () {
            var createCampaignUrl = '{% url 'campaigns.views.create_campaign' %}'
                    , statisticsUrl = '{% url 'campaigns.views.statistics' 0 %}'
                    , removeCampaignUrl = '{% url 'campaigns.views.remove_campaign' 0 %}'

            var campaignCallback = function () {
                var $that = $(this)
                        , id = $that.data('id')
                        , url = statisticsUrl.replace(/0/, id)

                $('.campaign').removeClass('active2')
                $that.parent().addClass('active2')
                $('.center-pane').load(url)
            }

            var removeCallback = function (e) {
                var $that = $(this)
                        , id = $that.closest('a').data('id')
                        , url = removeCampaignUrl.replace(/0/, id)
                e.stopPropagation()

                $('#confirm-remove').modal({backdrop: 'static', keyboard: false}).one('click', '#remove', function () {
                    $.post(url, {'csrfmiddlewaretoken': csrfToken }, function (data) {
                        console.log(data)
                        if (data.success) {
                            $that.closest('li').remove()
                        } else {
                            alert('Problems with removal')
                        }
                    })
                })
            }

            var createCampaign = function (name, id) {
                var $obj = $('<li class="campaign"><a data-id="' + id + '">' + name +
                        ' &nbsp;<span class="glyphicon glyphicon-remove"></span></a></li>')
                $obj.find('a').on('click', campaignCallback)
                $obj.find('span').on('click', removeCallback)
                return $obj
            }

            var modalCallback = function () {
                var name = $('#name').val()
                $.post(createCampaignUrl, $('#campaign-form').serialize(), function (resp) {
                    if (resp.success) {
                        $('#addCampaign').modal('hide')
                        $('#campaigns').append(createCampaign(name, resp.id))
                    } else {
                        console.log(' -- error')
                        $('.error').html(resp.message).show()
                    }
                })
            }

            $('.save-campaign').on('click', modalCallback)
            $('#campaign-form').on('submit', function (e) {
                e.preventDefault()
                modalCallback()
            })

            $('#addCampaign').on('hidden.bs.modal', function () {
                $('#name').val('')
                $('.error').html('').hide()
            })

            $('.campaign a').on('click', campaignCallback)

            $('a span').on('click', removeCallback)

            $('#addCampaignButton').on('click', function () {
                $('#addCampaign').modal('show')
            })
        })
    </script>
{% endblock %}