<div class="page">
    <div class="page-name"><h2>{{ page }}</h2></div>
</div>

<div class="time-per-page">
    <h5> Average time spent on this page:
        <span class="time">{{ time_per_page }}</span>
        hours
    </h5>

    <h5>
        Total time spent on this page:
        <span class="time">{{ all_time }}</span>
        hours
    </h5>

    <h5>
        Total hits: <span class="hits">{{ hits }}</span>
    </h5>
</div>

<div class="unique-hits">
    <script>
        $(function () {
            var page_data = JSON.parse('{{ data|escapejs }}')
                    , page
                    , name
                    , plot
                    , d1
                    , d2

            var extract_d = function (type_visits) {
                var d, year, month, day, visits, date, tmpDate
                d = []
                for (period in page_data[type_visits]) {
                    year = parseInt(period.substr(0, 4))
                    month = parseInt(period.substr(4, 2)) - 1
                    day = parseInt(period.substr(6, 2))

                    visits = parseInt(page_data[type_visits][period])
                    date = new Date(year, month, day)

                    d.push([date.getTime() + -date.getTimezoneOffset() * 60 * 1000, visits])
                }
                return d
            }

            name = 'page-statistics-infographic'
            plot = $('<div id="' + name + '" style="width: 100%; height: 300px;"></div>')
            $('.center-pane').append(plot)
            d1 = extract_d('TotalVisits')
            d2 = extract_d('UniqueVisits')

            $.plot('#' + name, [
                        {
                            label: 'Total visits per day',
                            data: d1,
                            color: 'red'
                        },
                        {
                            label: 'Unique visits per day',
                            data: d2,
                            color: 'blue'
                        }
                    ],
                    {
                        tooltip: true,
                        grid: {
                            hoverable: true
                        },
                        yaxis: {
                            minTickSize: 1
                        },
                        xaxis: {
                            mode: "time"
                        },
                        series: {
                            bars: {
                                show: true,
                                align: 'center',
                                barWidth: 86400000
                            }
                        }
                    })
        })
    </script>
</div>

