{% extends 'base.html' %}

{% block title %}
    BasicStats Homepage
{% endblock %}

{% block content %}
    <div class="site-wrapper">
        <div class="container centered">
            <div class="jumbotron jumbotron-div">
                <h1>Login</h1>

                <h5 class="">New User? <a href="{% url 'home.views.register' %}">Sign up</a></h5>

                <div class="inner-form">
                    <form role="form" class="form-horizontal" action="{% url 'home.views.login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username</label>

                            <div class="col-sm-10">
                                <input id="username" class="form-control" name="username" type="text" maxlength="20"
                                       placeholder="Username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input id="password" class="form-control" name="password" type="password" maxlength="20"
                                       placeholder="Password"/>
                            </div>
                        </div>
                        {% if error %}
                            <div class="bg-danger error">
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}