{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="jumbotron-div jumbotron">
    <h1>Register</h1>
    <form role="form" class="form-horizontal" action="{% url 'home.views.register' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <input type="submit" value="Submit" class="col-sm-1 col-sm-offset-2 col-md-1 col-md-offset-2 col-lg-1 col-lg-offset-2 btn btn-success" />
    </form>
    </div>
{% endblock %}