.jumbotron-div {
    width: 70%;
    margin: 0 auto;
    border-radius: 60px 60px 60px 60px !important;
    margin-top: 50px;
}

.help-block {
    font-size: 1em !important;
}

.inner-form {
    padding-top: 20px;
}

.error {
    border-radius: 60px 60px 60px 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.active2 {
    border-right: 5px solid #428bca;
}

.menu-left {
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
}

.center-pane {
    background-color: ghostwhite;
    padding: 20px;
    border: 1px solid #f0f0f0;
}

.campaign {
    padding-bottom: 5px;
}

.campaign > a:hover {
    background-color: azure !important;
    color: white;
}

a {
    cursor: pointer;
}

a span {
    display: none !important;
}

ul.nav a:hover {
    background-color: #428bca !important;
}

a:hover span {
    display: inline !important;
}

#funnel-container {
    list-style-type: none;
    padding-left: 20px;
}

.funnel-item {
    padding-bottom: 5px;
}

.funnel-item h4 {
    font-style: italic;
    margin-bottom: 0px;
}

.statistics-div {
    width: 60%;
    height: 200px;
    margin-top: 10px;
}

.main-div {
    margin-top: 20px;
}

textarea {
    margin-top: 20px;
    /*overflow: hidden;*/
}

.underly {
    text-decoration: underline;
}

#funnel-container span {
    margin-right: 5px;
}

.statistics-div {
    border: 1px solid #aaaaaa;
}

.time, .hits {
    font-weight: 800;
}

#page-statistics-infographic {
    border: 1px solid #aaaaaa;
}

.button-group {
    display: inline-block;
    margin-top: 5px;
}

#users-count {
    padding-left: 40px;
    font-weight: 800;
    font-size: 3em;
}